# Python File
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info

# venv
venv/
.env
.venv

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# build results
specpv.egg-info/
*.dist-info/
__init__.cpython-*.pyc

# configs
# configs/

# others
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db

# cache
.pytest_cache/
.tox/

# datasets and evaluation results
data/
outputs/